body {
    padding: 100px;

}

.centerr {
    text-align: center;
}

#sp {
    color: blue;
    font-weight: bold;
}

.submit-area {
    /* border: 3px solid red; */
    padding: 60px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gray;
    transition: 0.3s;

}

.submit-area:hover {
    transform: translateY(-10px);
}

#transaction {
    display: none;
}

.bgcolor {
    margin-inline-start: 35px;
    margin-inline-end: 35px;
    height: 200px;
    /* background-color: darkgrey; */
}

.fs {
    font-weight: bold;
}

.status {
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    color: whitesmoke;
    /* text-align:center; */
    height: 150px;

    /* font-size: 20px; */

}

.withdraw {
    background-color: rgb(0, 255, 102);
}

.deposit {
    background-color: cornflowerblue;

}

.balance {
    background-color: darkcyan;
}

.depositt {
    padding: 60px;
    /* background: white; */
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
}

#last {
    display: none;
}

#bdr {
    border: 1.5px solid grey;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: bold;
    height: 40px;
}