body {
    padding: 100px;

}

.centerr {
    text-align: center;
}

#sp {
    color: blue;
    font-weight: bold;
}

.submit-area {
    padding: 60px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px gray;
    width: 100%;
}

#transaction {
    display: none;
}

.bgcolor {
    margin-inline-start: 35px;
    margin-inline-end: 35px;
    height: 200px;
}

.fs {
    font-weight: bold;
}

.status {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    color: whitesmoke;
    height: 150px;
}

.withdraw {
    background-color: rgb(0, 255, 102);
}

.deposit {
    background-color: cornflowerblue;
}

.balance {
    background-color: darkcyan;
}